# Generic Files / Dirs
*.md
.env
*-report.html
*.info

# Rust ENV Specific Files
/target
Cargo.lock

# Jetbrains Specific Files
/.idea

# Tests Dir Log Files
tests/test_log_dir

# KEEP
!README.md
!tests/test_log_dir/.gitkeep
